/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* Common */
body{
    background-image: url(https://images.pexels.com/photos/317356/pexels-photo-317356.jpeg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

button{
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    font-size: 0.8rem;
    transition: all 0.3s ease-in;
}

button:hover{
    background-color: #fff !important;
    color: #000 !important;
}

input, textarea, table{
    font-size: 1rem;
}

::placeholder{
    font-size: 0.9rem;
}

/* header */

header{
    background-color: #0984e3;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

header .logo{
    width: 250px;
    height: 30px;
    padding: 16px 10px;

}

